
*.aux
*.glg
*.ilg
*.glo
*.gls
*.idx
*.ind
*.ist
*.log
*.mteo
*.gz
*.toc
msav.pdf
partes/figs/axial-eps-converted-to.pdf
partes/figs/bolas-eps-converted-to.pdf
partes/figs/conjunto-eps-converted-to.pdf
partes/figs/contorno-eps-converted-to.pdf
partes/figs/coordSystem-eps-converted-to.pdf
partes/figs/dilation-eps-converted-to.pdf
partes/figs/espacoDual-eps-converted-to.pdf
partes/figs/geoProject-eps-converted-to.pdf
partes/figs/interseccao-eps-converted-to.pdf
partes/figs/mapeamentos-eps-converted-to.pdf
partes/figs/naoRegulares-eps-converted-to.pdf
partes/figs/paralelo-eps-converted-to.pdf
partes/figs/paralelogramo-eps-converted-to.pdf
partes/figs/perpend-eps-converted-to.pdf
partes/figs/rotoReflex-eps-converted-to.pdf
partes/figs/translat-eps-converted-to.pdf
partes/figs/vetorSeta-eps-converted-to.pdf
partes/figs/vetorSoma-eps-converted-to.pdf
